<div class="header container">
  <div class="row">
      <div class="col-7 d-flex"><img class="my-auto" src="assets/PW Logo.png" alt=""></div>
      <div class="col-5">
          <div class="d-flex justify-content-around align-items-center">
              <a href="#" class="my-auto">Get Started</a>
              <a href="#" class="my-auto">Leaderboard</a>
              <a href="#" class="my-auto">Contact Us</a>
          </div>

      </div>
  </div>

</div>

<section>
  <div class="firstsec">
      <div class="row h-100 m-0 p-0">
          <div class="col-7 d-flex justify-content-center align-items-center">
              <div class="firstsec_detail w-75">
                  <p class="heading mb-0">Join Our <span>YODDHA</span></p>
                  <p class="heading mb-0">Program</p>
                  <p class="fs-2 text-white fw-bold mb-0">Communicate. Collaborate. Connect.</p>
                  <p class="fs-4 text-white">Promote PW Courses and earn a competitive commission.</p>
                  <form action="" class="d-flex justify-content-between">
                      <button class="btn bg-white">Campus Ambassador</button>
                      <button class="btn bg-white">Retailers</button>
                      <button class="btn bg-white">Youtubers/Influencers</button>
                  </form>
              </div>
          </div>
          <div class="col-5">
              <img src="assets/Group 20477.png" alt="">
          </div>
      </div>
  </div>

</section>

<section>
  <div class="secondsec">
      <div class="d_flex">
          <div class="secondsec_head my-5">
              <p class="sub_heading text-center text-nowrap mb-0">How To Get <span>Started?</span></p>
              <p class="underline"></p>
          </div>
      </div>

      <div class="">
          <div class="container d_ard px-sm-5">
              <div class="text-center pink">
                  <img src="assets/Group 20134.png" alt="">
                  <p>Sign up</p>
              </div>
              <div class="text-center yellow">
                  <img src="assets/Group 20449.png" alt="">
                  <p>Promote</p>
              </div>
              <div class="text-center green">
                  <img src="assets/Group 20451.png" alt="">
                  <p>Earn</p>
              </div>
          </div>
      </div>

      <div class="container d_flex my-5">
          <div class="video mb-0 pb-0">
              <iframe width="1164" height="442" src="https://www.youtube.com/embed/Ni5qpL_06VU?list=PLwGdqUZWnOp3aROg4wypcRhZqJG3ajZWJ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>


  </div>

</section>

<section>
  <div class="d_flex">
      <div class="thirdsec_head my-5">
          <p class="sub_heading text-center mb-0">Benefits of <span>YODDHA</span> Program</p>
          <p class="underline"></p>
      </div>
  </div>

  <div class="container my-5">
      <div class="row my-5 d_flex ">
          <div class="col-sm-5 col-12 row">
              <div class="col-3 ps-sm-5"><img src="assets/third sec/Frame 20434.png" alt=""></div>
              <div class="col-9">
                  <h4>Commissions</h4>
                  <p>Get a competitive commission on any
                      purchase made with your affiliate link.</p>
              </div>

          </div>
          <div class="col-sm-5 col-12 row">
              <div class="col-3 ps-sm-5"><img src="assets/third sec/Frame 20442.png" alt=""></div>
              <div class="col-9">
                  <h4>Dedicated Tracking Dashboard</h4>
                  <p>Track clicks and purchases made with your
                      affiliate  link in real-time.</p>
              </div>
          </div>
      </div>
      <div class="row my-5 d_flex">
          <div class="col-sm-5 col-12 row">
              <div class="col-3 ps-sm-5"><img src="assets/third sec/Frame 20436 (2).png" alt=""></div>
              <div class="col-9">
                  <h4>Dedicated Account Manager</h4>
                  <p>Get instant help with your integration
                      and answer any questions.</p>
              </div>
          </div>
          <div class="col-sm-5 col-12 row">
              <div class="col-3 ps-sm-5"><img src="assets/third sec/Frame 20441.png" alt=""></div>
              <div class="col-9">
                  <h4>Monthly Newsletter</h4>
                  <p>Learn about special promotions, deals and
                      great courses to feature.</p>
              </div>
          </div>
      </div>
      <div class="row my-5 d_flex">
          <div class="col-sm-5 col-12 row">
              <div class="col-3 ps-sm-5"><img src="assets/third sec/Frame 20431.png" alt=""></div>
              <div class="col-9">
                  <h4>Advertising Assets</h4>
                  <p>Use our professionally designed ad
                      banners in standard IAB sizes.</p>
              </div>
          </div>
          <div class="col-sm-5 col-12 row">
              <div class="col-3 ps-sm-5"><img src="assets/third sec/Frame 20435.png" alt=""></div>
              <div class="col-9">
                  <h4>365 Days Cookie</h4>
                  <p>Get credit for any valid purchases made within
                      365 days of the initial referral.</p>
              </div>
          </div>
      </div>
      <div class="row my-5 d_flex">
          <div class="col-sm-5 col-12 row">
              <div class="col-3 ps-sm-5"><img src="assets/third sec/Frame 20436 (1).png" alt=""></div>
              <div class="col-9">
                  <h4>No Coupon Code</h4>
                  <p>(sirf link se kaam ho jayega, no specific
                      coupon code required)</p>
              </div>
          </div>
          <div class="col-sm-5 col-12 row">
              <div class="col-3 ps-sm-5"><img src="assets/third sec/Frame 20436.png" alt=""></div>
              <div class="col-9">
                  <h4>Links look Generic</h4>
                  <p>Clean, simple, and you know you can trust them
                      because it has our domain name in them.</p>
              </div>
          </div>
      </div>
  </div>

</section>

<section>
  <div class="fourthsec my-5">
      <div class="d_flex">
          <div class="fourthsec_head my-5">
              <p class="sub_heading text-center mb-0">How learning with <span class="yellow">PW YODDHA</span> is different??</p>
              <p class="underline"></p>
          </div>
      </div>
      <div class="d_flex">

          <div class="image">
              <img class="img-fluid" src="assets/fourth_sec/Frame 20659.png" alt="">
          </div>
      </div>

  </div>
</section>

<section>
  <div class="fifthsec">
      <div class="d_flex">
          <div class="fourthsec_head mt-5">
              <p class="sub_heading text-center mb-0">Become a Master <span>Yoddha</span></p>
              <p class="underline"></p>
          </div>
      </div>
      <div class="d_flex sub_header mb-5">
          <p class="text-center">Be a part of Early journey and encourage others to be an affiliate and Earn from their first 10 sales.</p>
          <img class="relative_image" src="assets/fifth_sec/Group 20321.png" alt="">
      </div>


      <img class="mt-5 mb-5 pt-3" src="assets/fifth_sec/Group 20323.png" alt="">
      <div class="card_sec d_flex">
          <div class="card bg-blue shadow_lt">
              <div class="head row py-2 m-0">
                  <div class="col-3 text-center"></div>
                  <div class="col-3 text-center text-nowrap">Club Silver</div>
                  <div class="col-3 text-center text-nowrap">Club Gold</div>
                  <div class="col-3 text-center text-nowrap">Club Platinum</div>
              </div>
              <div class="body bg-white row p-3 m-0">
                  <div class="col-3 text-center text-nowrap"><img width="70px" src="assets/fifth_sec/Group 20277.png" alt=""></div>
                  <div class="col-3 text-center text-nowrap">
                      <p class="mb-0">Commission</p>
                      <h4 class="mb-0">5%</h4>
                  </div>
                  <div class="col-3 text-center text-nowrap">
                      <p class="mb-0">Commission</p>
                      <h4 class="mb-0">10%</h4>
                  </div>
                  <div class="col-3 text-center text-nowrap">
                      <p class="mb-0">Commission</p>
                      <h4 class="mb-0">15%-30%</h4>
                  </div>
              </div>
          </div>
      </div>
      <div class="d-flex">
          <img class="ms-auto my-5" src="assets/fifth_sec/Group 20325.png" alt="">
      </div>
  </div>
</section>

<section>
  <div class="sixth_sec">
      <div class=" d_flex mb-5">
          <div class="table_container">
              <table class="table shadow_lt table-borderless">
                  <tbody>
                      <tr class="gr_green">
                        <td class="d-flex justify-content-end">
                            <img class="me-3" src="assets/fifth_sec/Frame 20443.png" alt="">
                            <img src="assets/fifth_sec/Frame 20453.png" alt="">
                        </td>
                        <td>
                          <p class="text-center">Affiliate ID No.<span>73649</span></p>
                        </td>
                      </tr>
                      <tr class="gr_yellow">
                        <td class="d-flex justify-content-end">
                            <img class="me-3" src="assets/fifth_sec/Group 20423.png" alt="">
                            <img src="assets/fifth_sec/Frame 20395.png" alt="">
                        </td>
                        <td>
                          <p class="text-center">Affiliate ID No.<span>73649</span></p>
                        </td>
                      </tr>
                      <tr class="gr_pink">
                        <td class="d-flex justify-content-end">
                            <img class="me-3" src="assets/fifth_sec/Group 20304.png" alt="">
                            <img src="assets/fifth_sec/Frame 20453.png" alt="">
                        </td>
                        <td>
                            <p class="text-center">Affiliate ID No.<span>73649</span></p>
                        </td>
                      </tr>

                      <tr class="">
                          <td class="d-flex justify-content-end  align-items-end">
                              <span class="number mb-0 me-4">4.</span>
                              <img src="assets/fifth_sec/Frame 20395.png" alt="">
                          </td>
                          <td>
                            <p class="text-center">Affiliate ID No.<span>73649</span></p>
                          </td>
                        </tr>
                        <tr class="">
                          <td class="d-flex justify-content-end  align-items-end">
                              <span class="number mb-0 me-4">5.</span>
                              <img src="assets/fifth_sec/Frame 20453.png" alt="">
                          </td>
                          <td>
                              <p class="text-center">Affiliate ID No.<span>73649</span></p>
                          </td>
                        </tr>
                        <tr class="">
                          <td class="d-flex justify-content-end  align-items-end">
                              <span class="number mb-0 me-4">6.</span>
                              <img src="assets/fifth_sec/Frame 20453.png" alt="">
                          </td>
                          <td>
                              <p class="text-center">Affiliate ID No.<span>73649</span></p>
                          </td>
                        </tr>

                        <tr class="">
                          <td class="d-flex justify-content-end  align-items-end">
                              <span class="number mb-0 me-4">7.</span>
                              <img src="assets/fifth_sec/Frame 20395.png" alt="">
                          </td>
                          <td>
                            <p class="text-center">Affiliate ID No.<span>73649</span></p>
                          </td>
                        </tr>
                        <tr class="">
                          <td class="d-flex justify-content-end  align-items-end">
                              <span class="number mb-0 me-4">8.</span>
                              <img src="assets/fifth_sec/Frame 20395.png" alt="">
                          </td>
                          <td>
                            <p class="text-center">Affiliate ID No.<span>73649</span></p>
                          </td>
                        </tr>
                        <tr class="">
                          <td class="d-flex justify-content-end  align-items-end">
                              <span class="number mb-0 me-4">9.</span>
                              <img src="assets/fifth_sec/Frame 20453.png" alt="">
                          </td>
                          <td>
                              <p class="text-center">Affiliate ID No.<span>73649</span></p>
                          </td>
                        </tr>
                        <tr class="">
                          <td class="d-flex justify-content-end  align-items-end">
                              <span class="number mb-0 me-4">10.</span>
                              <img src="assets/fifth_sec/Frame 20395.png" alt="">
                          </td>
                          <td>
                            <p class="text-center">Affiliate ID No.<span>73649</span></p>
                          </td>
                        </tr>
                        <tr class="">
                          <td class="d-flex justify-content-end align-items-end">
                              <span class="number mb-0 me-4">11.</span>
                              <img src="assets/fifth_sec/Frame 20395.png" alt="">
                          </td>
                          <td>
                            <p class="text-center">Affiliate ID No.<span>73649</span></p>
                          </td>
                        </tr>
                  </tbody>
              </table>
              <img src="assets/fifth_sec/Group 20640.png" alt="" class="table_img_left">
              <img src="assets/fifth_sec/Group 20639.png" alt="" class="table_img_rt">
          </div>


      </div>

      <div class="my-5 d_flex">
          <div class="contact_card shadow_lt py-3 px-5">
              <img class="mx-5" src="assets/fifth_sec/Group 20350.png" alt="">
              <form action="">
                  <button type="submit" class="btn bg-blue text-white py-1">Contact Us</button>
              </form>
          </div>
      </div>

  </div>
</section>

<section>
  <div class="footsec">
      <div class="container d_flex flex-column">
          <div class="row ">
              <div class="col-6">
                  <div class="foot_logo d-flex   align-items-end ">
                      <img src="assets/foot_sec/PW Logo (1).png" alt=""> <span class="d-flex  align-items-center ms-4">Physics Wallah</span>
                  </div>
                  <p class="my-4 content">We understand that every student has different needs and capabilities, which is why we create such a wonderful and unique curriculum that is the best fit for every student.</p>

                  <div class=" my-5">
                      <p class="mb-0" style="font-size: small;">Terms and Conditions</p>
                      <p class="mb-0 content">PW Campus Ambassador:</p>
                      <ul>
                          <li class="content">No direct product selling</li>
                          <li class="content">Not to push sales videos</li>
                          <li class="content">Genuine review videos, for example – Course buying.</li>
                          <li class="content">Review and your experience of the course – In 5 days, 10 days, or full course review.</li>
                          <li class="content">Referral benefits are subjected to TDS deductions and tax rules as per the government of India and may be applicable at the time of processing the payout.</li>
                          <li class="content">Payment will be made after the 2nd of every month.</li>
                          <li class="content">There will be a threshold in payments.</li>
                          <li class="content">
                              <p class="mb-0 content">In the absence of Pan card details, tax deductions are higher.</p>
                              <p class="content">Note: You will not disclose that you are an affiliate of PW.</p>
                          </li>
                      </ul>
                  </div>

                  <div class="appstore_card p-4"> <img src="assets/foot_sec/Group 20337.png" alt=""></div>
                  <div class=" my-4">
                      <span>Follow us:</span>
                      <img src="assets/foot_sec/Frame.png" alt="" class="ms-3">
                      <img src="assets/foot_sec/Frame (1).png" alt="" class="ms-3">
                      <img src="assets/foot_sec/Frame (5).png" alt="" class="ms-3">
                      <img src="assets/foot_sec/Frame (4).png" alt="" class="ms-3">
                      <img src="assets/foot_sec/Frame (2).png" alt="" class="ms-3">
                      <img src="assets/foot_sec/Frame (3).png" alt="" class="ms-3">
                  </div>

              </div>
              <div class="col-2 courses">
                  <p class="blue mb-4">Courses</p>
                  <p>JEE Mains</p>
                  <p>JEE Advance</p>
                  <p>NEET</p>
                  <p>CBSE</p>
                  <p>ICSE</p>
                  <p>State Boards</p>
                  <p>Droppers</p>

              </div>
              <div class="col-4 courses">
                  <p class="blue mb-4">Our Channels</p>
                  <p>Physics Wallah</p>
                  <p>Competition Wallah</p>
                  <p>JEE Wallah</p>
                  <p>NCERT Wallah</p>
                  <p>Defence Wallah (NDA)</p>
                  <p class="mb-0">Physics Wallah </p>
                  <p>Foundation (9th & 10th)</p>
              </div>
          </div>
          <div class="centers d_flex">
              <p class="mb-0">PW Pathshala Centres</p>
              <div class="d-flex justify-content-between align-items-center">
                  <a class="">New Delhi</a>
                  <a class="">Lucknow</a>
                  <a class="">Mumbai</a>
                  <a class="">Kanpur</a>
                  <a class="">Varanasi</a>
                  <a class="">Patna</a>
                  <a class="">All Centres ></a>
              </div>

          </div>
          <div class="footsec_foot d-flex">

              <div class="d-flex align-items-center me-auto">
                  <p>CONTACT US:</p>
                  <p class="ms-3"><img src="assets/foot_sec/Group 20343.png" alt="">affiliate@pw.live</p>
              </div>
              <div class="d-flex align-items-center">
                  <p>Copyright © 2022 Physics Wallah Pvt. Ltd. All rights reserved.</p>
              </div>

          </div>
      </div>
  </div>
</section>
