<!-- <div class="">
  <div class="nav container d-flex" style="height: 100px;">
    <div class="nav-first w-75">
      <img src="assets/Subtraction.png" alt="">
    </div>
    <div class="nav-second w-25 d-flex justify-content-between align-items-center">
      <a>Get Started</a>
      <a>Leaderboard</a>
      <a>Contact Us</a>
    </div>
  </div>
</div>

<section class="banner">
  <div class="banner-inner h-100">
    <div class="row w-100 h-100">
      <div class="col-1"></div>
      <div class="col-6 d-flex p-1 justify-content-center align-items-center">
        <div class="banner-labels">
          <h1 class="text-white">Join Our <span class="theme-color-yellow">YODDHA</span></h1>
          <h1 class="text-white">Program</h1>
          <h5 class="text-white">Communicate. Collaborate. Connect.</h5>
          <p class="text-white"> Promote PW Courses and earn a competitive commission.</p>
          <div class="three-btn d-flex justify-content-between">
            <button class="btn btn-light r10">Campus Ambassador</button>
            <button class="btn btn-light r10">Retailers</button>
            <button class="btn btn-light r10">Youtubers/Influencers</button>
          </div>
        </div>
      </div>
      <div class="col-5 d-flex p-1 justify-content-center align-items-center">
          <div class="banner-img">
            <img src="assets/Group 20477.png" alt="">
          </div>
      </div>
    </div>
  </div>
</section>
<section class="start-prog">
  <div class="large-lebel text-align-center">How To Get Started?</div>
  <div class="Three-btns">
    <div class="btn1"></div>
    <div class="btn2"></div>
    <div class="btn3"></div>
  </div>
</section>
<section style="height: 200px;"></section> -->

<app-dash-page></app-dash-page>
